<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.879598092731-sn5unu43moo46vveb1gkeb002fdvaknt</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>879598092731-sn5unu43moo46vveb1gkeb002fdvaknt.apps.googleusercontent.com</string>
	<key>SUPABASE_PUBLISHABLE_KEY</key>
	<string>SUPABASE_PUBLISHABLE_KEY_PLACEHOLDER</string>
	<key>SUPABASE_URL</key>
	<string>https://thfzbkhgrfduvvuytwpx.supabase.co</string>
</dict>
</plist>
